body {
    font-family: clarendon-text-pro,serif;
font-weight: 400;
font-style: normal;
background-color: rgb(245, 241, 210);
}
h1 {
    color: rgb(97, 75, 56);
    text-align: left;
    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
}
h2 {
    color: rgb(132, 163, 100);
    text-align: left;
    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1000%;
    line-height: 80%;
    margin: auto;
    width: 60%;
    padding-left: 100px;
    position: relative;
    
}
h3 {
    color: rgb(97, 75, 56);
    text-align: left;
    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 200%;
    padding-right: 50px;
    position: relative;
    left: 850px;
    top:-130px;
}
    
h4 {
    color: rgb(97, 75, 56);
    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
    position: absolute;
    margin-top: 50%;
}
#hen {
    color: rgb(132, 163, 100);
    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
    text-align: right;
    margin-top: -5%;
    float: right;
    position: relative;

}
#para1 {
    color: rgb(97, 75, 56);
    text-align: left;
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    padding-right: 50px;
    padding-top: 20px;
    position: relative;
    width: 550px;
    left: 790px;
    left: 850px;
    top:-170px;}
    
#para2 {
    color: rgb(189, 116, 177);
    text-align: center;
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 700%;
    margin: 0%;
}

#para3 {
    color: rgb(97, 75, 56);
    text-align: right;
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    float: right;
    line-height: 250%;
    margin-right: -26%;
    position: relative;
}

#dream {
    color: rgb(235, 232, 90);
    text-align: right;
    float: right;
    font-size: 300%;
    margin-right: 3%;
    margin-top: -40px;
    z-index: 1;
    position: relative;
    
}
#fun {
    color: rgb(97, 75, 56);
    text-align: left;
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
    float: right;
    margin-top: -66%;
    letter-spacing: 10px;
    transform: rotate(30deg);
    margin-right: 11%;
}

#alphabet {
    color: rgb(97, 75, 56);
    text-align: justify;
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size:600%;
    float: left;
    line-height: 100%;
    margin-top: -30%;
    margin-left: 3%;
    width: 200%;}

#pups {
    color: rgb(235, 232, 90);
    text-align: left;
    float:left;
    font-size: 400%;
    margin-left: 5%;
    top: -45px;
    z-index: 1;
    position: relative;}

#four {
    color: rgb(97, 75, 56);
    font-family: clarendon-text-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size:4000%;
    float: right;
    margin-right: -70%;
    margin-left: 60%;
    margin-top: -133%;
    width: 100%;}

div.circle {
    float: left;
    position: relative;
    top: -790px;
    right: -45%;
}
div.slide {
   width: 40%;
   margin: -10pt;
   float: left;
   margin-top: -1770px;
   position: relative;
   margin-left: -40px;
}
div.frame {
    float: left;
    left: -150px;
    top: -1000px;
    position: relative;
}

